{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'housing/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'housing/css/style.css' %}">
    <title>Property Search</title>
  </head>
  <body>
    <div id="header" class="container-fluid search-form fixed-top">
        <p class="page-title">Find a Property</p>
        <form id="search-form">
            <div class="row align-items-center">
                <div class="col-sm-2 body-text">
                      <div class="form-group">
                        <label for="advertiser" class="col-form-label col-form-label-lg">Advertiser</label>
                        <select multiple class="form-control" id="advertiser" name="advertisers">
                          {% for adv in advertisers %}
                              <option value="{{ adv.id }}" selected="selected">{{ adv.name }}</option>
                        {% endfor %}
                        </select>
                      </div>
                </div>
                <div class="col-sm-2 body-text">
                    <div class="form-group">
                        <label for="zip_filter" class="col-form-label-sm mb-0">Area Code</label>
                        <input type="text" class="form-control form-control-sm" id="zip_filter" name="zip_filter"
                               placeholder="e. g. 2500-2540">
                      </div>
                    <div class="form-group">
                        <label for="price_filter" class="col-form-label-sm mb-0">Price</label>
                        <input type="text" class="form-control form-control-sm" id="price_filter" name="price_filter"
                               placeholder="e. g. 4500-8500">
                      </div>
                </div>
                <div class="col-sm-2 body-text">
                    <div class="form-group">
                        <label for="size_filter" class="col-form-label-sm mb-0">Size (m2)</label>
                        <input type="text" class="form-control form-control-sm" id="size_filter" name="size_filter"
                               placeholder="e. g. 65-115">
                      </div>
                    <div class="form-group">
                        <label for="rooms_filter" class="col-form-label-sm mb-0">Rooms</label>
                        <input type="text" class="form-control form-control-sm" id="rooms_filter" name="rooms_filter"
                               placeholder="e. g. 2-3">
                      </div>
                </div>
                <div class="col-sm-2 body-text">
                    <div class="form-group">
                    <label for="desc_text" class="col-form-label-sm mb-0">Description</label>
                    <textarea class="form-control" id="desc_text" rows="4" name="desc_text"></textarea>
                  </div>
                </div>
                <div class="col-sm-auto body-text">
                    <div class="form-check">
                        <input class="form-check-input checkbox-large" type="checkbox" value="" id="show_viewed"
                               name="show_viewed">
                        <label class="form-check-label col-form-label-sm" for="show_viewed">Show Viewed</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input checkbox-large" type="checkbox" value="" id="show_liked"
                               name="show_liked">
                        <label class="form-check-label col-form-label-sm" for="show_liked">Show Liked Only</label>
                    </div>
                    <button id="search_button" class="btn-primary btn-lg">Search</button>
                </div>
                <div class="col-sm-2 body-text">
                  <div class="form-group">
                    <label for="paginator">Page</label>
                    <select class="form-control form-control-sm" id="paginator" name="page">
                      <option value="1">1</option>
                    </select>
                  </div>
                    <div class="form-group">
                      <button id="prev_button" class="btn-primary">Prev</button>
                      <button id="next_button" class="btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="house-listing">
        </div>

    </div>


    <script src='{% static "housing/js/jquery-3.4.1.min.js" %}'></script>
    <script src='{% static "housing/js/bootstrap.bundle.min.js" %}'></script>
    <script src="{% static 'housing/js/housing.js' %}"></script>
  </body>
</html>