{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load ranged_pagination %}
{% load static %}
{% block content %}
        <form method="get">
        <div class="row justify-content-center pl-md-5 pr-md-5 ml-md-5 mr-md-5">
            <div class="col bg-light mt-2 pt-2">
                    <h4>My Food Purchases</h4>
                    {{ form.food_id|as_crispy_field }}
                    {{ form.food|as_crispy_field }}
                    <div class="row">
                        <div class="col">
                            {{ form.store_name|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.date_start|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.date_end|as_crispy_field }}
                        </div>
                    </div>
            </div>
        </div>
        <div class="row justify-content-end pl-md-5 pr-md-5 ml-md-5 mr-md-5">
                <div class="col bg-light pb-3">
                    <input type="submit" name="Search" value="Search" class="btn btn-primary btn-sm" id="submit-id-search">
                </div>
                <div class="col-auto bg-light pb-3">
                    {% ranged_paginator 3 %}
                </div>
        </div>
        </form>
        <div class="row justify-content-start pl-md-5 pr-md-5 ml-md-5 mr-md-5">
            <div class="col bg-light">
            <table class="table table-striped">
            <thead>
                <th>Store</th>
                <th>Item</th>
                <th>Cost</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for purchase in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'foodtrack-purchase-update' purchase.id %}?next={{ request.get_full_path }}">
                            {{ purchase.store_name }}</a></td>
                        <td>{{ purchase.food }} ({{ purchase.amount }} {{ purchase.unit }})</td>
                        <td>{{ purchase.cost }}&nbsp;{{ purchase.currency }}</td>
                        <td>{{ purchase.dt|date:"Y/m/d" }}
                            <a href="{% url 'foodtrack-purchase-delete' purchase.id %}" type="button"
                               class="close text-danger"><span>&times;</span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>
        </div>

{%  endblock %}