{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'foodtrack/css/foodtrack.css' %}">
    <title>FoodTrack</title>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FoodTrack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'foodtrack-login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'foodtrack-logout' %}">Logout</a>
                        <a class="dropdown-item" href="{% url 'foodtrack-password' %}">Change Password</a>
                    </div>

                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'foodtrack-login' %}">Login</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Purchase</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'foodtrack-purchase' %}" role="button">New</a>
                        <a class="dropdown-item" href="{% url 'foodtrack-purchase-list' %}" role="button">List</a>
                        <a class="dropdown-item" href="{% url 'foodtrack-purchase-summary' %}" role="button">Summary</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Food Log</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'foodtrack-log-newentry' %}" role="button">New Entry</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% include "messages.html" %}
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'foodtrack/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'foodtrack/js/bootstrap.js' %}"></script>
    <script src="{% static 'foodtrack/js/popper.min.js' %}"></script>
    <script src="{% static 'foodtrack/js/typeahead.jquery.js' %}"></script>
    <script src="{% static 'foodtrack/js/foodtrack.js' %}"></script>

</body>
</html>