@import "~bootstrap/scss/bootstrap";

body {
  background-image: url("assets/dan-gold-4_jhDO54BYg-unsplash-600x400-100dpi.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: #034616;
}
